<!DOCTYPE html>
<html>
<head>
    <title>Game in Progress</title>
    <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('connect', function() {
            socket.emit('join', {'game_code': '{{ game_code }}'});
        });
    
        socket.on('player_joined', function(data) {
            var playersList = document.getElementById('playersList');
            playersList.innerHTML = '';  // Clear existing list
            data.players.forEach(function(player) {
                var newPlayer = document.createElement('li');
                newPlayer.textContent = player;
                playersList.appendChild(newPlayer);
            });
        });
    </script>
    <style>
        .game-code {
            position: fixed;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div class="game-code">Game Code: {{ game_code }}</div>
    <h2>Players:</h2>
    <ul id="playersList">
        {% for player in players %}
            <li>{{ player }}</li>
        {% endfor %}
    </ul>
</body>
</html>
