<!DOCTYPE html>
<html>
<head>
    <title>Game in Progress</title>
    <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var playerName = '{{ player_name }}'; // Dynamically get the player's name
            socket.emit('join', {'game_code': '{{ game_code }}', 'player_name': playerName});
    
            socket.on('update_players', function(data) {
                var playersList = document.getElementById('playersList');
                playersList.innerHTML = ''; // Clear existing list
                data.players.forEach(function(player) {
                    var playerItem = document.createElement('li');
                    playerItem.textContent = player;
                    playersList.appendChild(playerItem);
                });
            });
        });
    </script>
    <style>
        .game-code {
            position: fixed;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div class="game-code">Game Code: {{ game_code }}</div>
    <h2>Players:</h2>
    <ul id="playersList">
        {% for player in players %}
            <li>{{ player }}</li>
        {% endfor %}
    </ul>
</body>
</html>
