<!DOCTYPE html>
<html>
<head>
    <title>Color Change Button</title>
    <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('color_change', function(data) {
            document.getElementById("colorButton").style.backgroundColor = data.color;
        });

        function changeColor() {
            socket.emit('change_color');
        }
    </script>
</head>
<body>
    <button id="colorButton" onclick="changeColor()">Change Color</button>
</body>
</html>
